Node-RED flow/flows_raspberrypi.json
[{"id":"23ede5da.0d8d0a","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"9c3daac0.a5a718","type":"mqtt-broker","z":"","name":"shiftr","broker":"","port":"8080","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8356d79.17ab728","type":"rpi-gpio out","z":"23ede5da.0d8d0a","name":"LED","pin":"40","set":true,"level":"0","freq":"","out":"out","x":470,"y":220,"wires":[]},{"id":"9fc4ba6a.564638","type":"mqtt in","z":"23ede5da.0d8d0a","name":"","topic":"/send","qos":"2","datatype":"auto","broker":"9c3daac0.a5a718","x":90,"y":60,"wires":[["80b5c9cd.0d2248"]]},{"id":"85065b78.050248","type":"debug","z":"23ede5da.0d8d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.LED1","targetType":"msg","x":510,"y":60,"wires":[]},{"id":"80b5c9cd.0d2248","type":"json","z":"23ede5da.0d8d0a","name":"","property":"payload","action":"","pretty":false,"x":250,"y":60,"wires":[["85065b78.050248","81599921.c0bfd8"]]},{"id":"81599921.c0bfd8","type":"change","z":"23ede5da.0d8d0a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LED1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["8356d79.17ab728"]]}]